/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*var*/
:root{
    --headerHeight : 3rem;
    /*main color*/
    --hueColor: 32;
    /*colors*/
    --firstColor: hsl(var(--hueColor),69%,61%);
    --firstColorSecond: hsl(var(--hueColor),69%,61%);
    --firstColorAlt: hsl(var(--hueColor),57%,53%);
    --firstColorlighter: hsl(var(--hueColor),92%,85%);
    --titleColor: hsl(var(--hueColor),8%,15%);
    --textColor: hsl(var(--hueColor),8%,45%);
    --textColorLighter: hsl(var(--hueColor),8%,65%);
    --textColorLighter2: hsl(var(--hueColor),20%,20%);
    --inputColor: hsl(var(--hueColor),70%,96%);
    --bodyColor: hsl(var(--hueColor),60%,99%);
    --containerColor: #fff;
    /*font*/
    --bodyFont:'Poppins', sans-serif;
    /*size*/
    --bigFontSize:2rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.3rem;
    --h3FontSize:1.1rem;
    --normalFontSize:1rem;
    --smallFontSize:0.85rem;
    --samallerFontSize:0.75rem;
    /*weight*/
    --fontMedium:500;
    --fontSemiBold:600;
    /*margin bot*/
    --mb025:.25rem;
    --mb05:.5rem;
    --mb075:.75rem;
    --mb1:1rem;
    --mb15:1.5rem;
    --mb2:2rem;
    --mb25:2.5rem;
    --mb3:3rem;
}
/*dark theme*/
body.dark_theme{
    --firstColorSecond: hsl(var(--hueColor),30%,8%);
    --titleColor: hsl(var(--hueColor),8%,95%);
    --textColor: hsl(var(--hueColor),8%,75%);
    --inputColor: hsl(var(--hueColor),29%,16%);
    --bodyColor: hsl(var(--hueColor),28%,12%);
    --containerColor: hsl(var(--hueColor),29,16);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--headerHeight) 0;
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    background-color: var(--bodyColor);
    color: var(--textColor);
}
h1,h2,h3,h4{
    color: var(--titleColor);
    font-weight: var(--fontSemiBold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1FontSize);
    text-align: center;
}
.section__subtitle{
    display: block;
    text-align: center;
    font-size: var(--smallFontSize);
    margin-bottom: var(--mb025);
}
/*end reset and vars*/
.container{
    max-width: 768px;
    margin-left: var(--mb15);
    margin-right: var(--mb15);
}
.grid{
    display: grid;
    gap: var(--mb15);
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bodyColor);
}
/*nav setup*/
.nav{
    max-width: 968px;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo, 
.nav__toggle{
    color: var(--titleColor);
    font-weight: var(--fontMedium);
}
.nav__logo:hover{
    color: var(--firstColor);
}
.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--firstColor);
}
.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--smallFontSize);
    color: var(--titleColor);
    font-weight: var(--fontMedium);
}
.nav__link:hover{
    color: var(--firstColor);
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--firstColor);
}
.nav__close:hover{
    color: var(--firstColor);
}
.nav__buttons{
    display: flex;
    align-items: center;
}
.change_theme{
    font-size: 1.25rem;
    color: var(--titleColor);
    margin-right: var(--mb1);
    cursor: pointer;
}
.change_theme:hover{
    columns: var(--firstColor);
}
/*home setup*/
.home__container{
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social_icon{
    font-size: 1.3rem;
    color: var(--firstColor);
}
.home__social_icon:hover{
    color: var(--firstColorAlt);
}
.home__blob{
    width: 200px;
    fill: var(--firstColor);
}
.home__blob_img{
    width: 170px;
}
.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--bigFontSize);
}
.home__subtitle{
    font-size: var(--h3FontSize);
    color: var(--textColor);
    font-weight: var(--fontMedium);
    margin-bottom: var(--mb075);
}
.home__description{
    margin-bottom: var(--mb2);
}
.home__scroll{
    display: none;
}
.home__scroll_button{
    color: var(--firstColor);
    transition: .5s;
}
.home__scroll_button:hover{
    transform: translateY(0.25rem);
}
.home__scroll_mouse{
    font-size: 2rem;
}
.home__scroll_name{
    font-size: var(--smallFontSize);
    color: var(--titleColor);
    font-weight: var(--fontMedium);
    margin-right: var(--mb025);
}
.home__scroll_arrow{
    font-size: 1.2rem;
}
/*buttons*/
.button{
    display: inline-block;
    background-color: var(--firstColor);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--fontMedium);
    transition: .5s;
}
.button:hover{
    transform: translateX(.25rem);
    background-color: var(--firstColorAlt);
}
.button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb05);
    transition: .3s;
}
.button_flex{
    display: inline-flex;
    align-items: center;
}
/*about*/
.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb025);
}
.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb2);
}
.about__info_title{
    font-size: var(--h2FontSize);
    font-weight: var(--fontMedium);
    display: block;
    text-align: center;
}
.about__info_name{
    font-size: var(--samallerFontSize);
    display: block;
    text-align: center;
}
.about__buttons{
    display: flex;
    justify-content: center;
}
/*contact*/
.contact__container{
    row-gap: 3rem;
}
.contact__information{
    display: flex;
    margin-bottom: var(--mb2);
}
.contact__icon{
    font-size: 2rem;
    color: var(--firstColor);
    margin-right: var(--mb1);
}
.contact__title{
    font-size: var(--h3FontSize);
    font-weight: var(--fontMedium);
}
.contact__subtitle{
    font-size: var(--smallFontSize);
    color: var(--textColorLighter);
}
.contact__content{
    background-color: var(--inputColor);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}
.contact__label{
    font-size: var(--samallerFontSize);
    color: var(--titleColor);
}
.contact__input{
    width: 100%;
    background-color: var(--inputColor);
    color: var(--textColor);
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}
/*footer*/
.footer{
    padding-top: 2rem;
}
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: var(--firstColorSecond);
    padding: 2rem 0 3rem;
}
.footer__title{
    font-size: var(--h1FontSize);
    margin-bottom: var(--mb025);
}
.footer__subtitle{
    font-size: var(--smallFontSize);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer__link:hover{
    color: var(--firstColorlighter);
}
.footer__social{
    display: flex;
    font-size: 2rem;
    margin: 1rem;
    justify-content: space-between;
}
.footer__social:hover{
    color: var(--firstColorlighter);
}
.footer__copy{
    font-size: var(--smallFontSize);
    font-weight: var(--fontMedium);
    text-align: center;
    color: var(--textColor);
    margin-top: var(--mb1);
}
.footer__title,.footer__subtitle,.footer__link,.footer__social{
    color: #fff;
}
/*scroll up*/
.scroll__up{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--firstColor);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 1000;
    transition: .5s;
}
.scroll__up:hover{
    background-color: var(--firstColorAlt);
}
.scroll__up_icon{
    font-size: var(--mb15);
    color: #fff;
}
@media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--bodyColor);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px black;
        border-radius: 1.5rem 1.5rem;
        transition: .6s;
    }
    
}
@media screen and (min-width:968px){
    :root{
          /*size*/
    --bigFontSize:3rem;
    --h1FontSize:2.2rem;
    --h2FontSize:1.5rem;
    --h3FontSize:1.3rem;
    --normalFontSize:1rem;
    --smallFontSize:0.85rem;
    --samallerFontSize:0.75rem;
    }
}
/*jsDoM*/
.showMenu{
    bottom: 0;
}
.active_link{
    color: var(--firstColor);
}
.scroll_header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}
.show_scroll{
    bottom: 5rem;
}
